{% extends "layout.twig" %}

{% block content %}

	<form action="/add/pdf" method="POST" enctype="multipart/form-data">
		<h3>Carga el PDF</h3>
		<label>Selecciona el Documento</label><br>
		<input name="pdf" id="pdf" type="file"><br><br>
		<button type="submit">Save</button>

	</form>

{% endblock %}